.btn-warning {
    color: #fff;
    background-color: rgba(240, 174, 0, 1);
    border-color: #ff9800;
    &:not(:disabled):not(.disabled):active {
        color: rgba(240, 174, 0, 1);
        background-color: #fff;
    }
    &:hover {
        color: rgba(240, 174, 0, 1);
        background-color: #fff;
    }
    &:focus {
        color: rgba(240, 174, 0, 1);
        background-color: #fff;
    }
}

.app-alert {
    position: fixed;
    top: 10px;
    z-index: 8;
    left: 0;
    right: 0;
}
