.product-list {
    .h-50 {
        height: 50%;
        max-height: 50%;
    }

    .card {
        height: 100%;
    }

    .card-body {
        padding: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}