@import "~react-datepicker/dist/react-datepicker.css";

.seller {
    h1, h2, p{
        font-weight: 200;
    }
    h1, h2 {
        font-size: 1.5rem;
    }
    .react-datepicker-wrapper,
    .react-datepicker__input-container {
        width: 100%;
        input {
            width: 100%;
        }
    }
}