.member-list {
    .list-container {
        display: flex;
        justify-content: space-evenly;
        border-radius: 0;

        .list-group-item {
            width: 100%;
            border-radius: 0;
        }
    }

    .scroll-div {
        max-height: 500px;
        overflow: auto;
    }

    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 1px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .5);
        box-shadow: 0 0 1px rgba(30, 8, 228, 0.226);
    }

    .shopping-details {
        border: 1px solid rgba(0, 0, 0, 0.125);
    }
}