.invoice {
    h1, h2, p{
        font-weight: 200;
    }
    h1, h2 {
        font-size: 1.5rem;
    }
}

.invoice-list {
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tbody>tr:nth-child(odd) {
        background-color: #dddddd;
    }

    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {

        /* Force table to not be like tables anymore */
        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }


        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 0;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        /*
            Label the data
        You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
            */
        td:nth-of-type(1):before {
            content: "Seller";
        }

        td:nth-of-type(2):before {
            content: "Buyer";
        }

        td:nth-of-type(3):before {
            content: "Invoice Price";
        }

        td:nth-of-type(4):before {
            content: "Invoice value";
        }

        td:nth-of-type(5):before {
            content: "Repayment";
        }

        td:nth-of-type(6):before {
            content: "";
        }

        td:before {
            display: flex;
            align-items: center;
            height: 100%;
        }
    }
}