.app-header-container {
    .app-header {
        min-height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        .intro {
            padding: 25px;
            max-width: 250px;
            background-color: rgba(255, 255, 255, 0.7);
            h2 {
                max-width: 100px;
            }
            p {
                font-size: 20px;
                font-weight: 500;
            }
        }

        .btn {
            border-radius: 0;
            max-width: 200px;
        }
        
        @media (min-width: 768px){
        min-height: 450px;
        padding: 25px;
        }
    }
    @media (max-width: 768px){
        padding: 0;
        max-width: 100%;
    }
}
