.app-navBar {
    h1 {
        margin: 0;
    }
    .app-badge-container {
        position: relative;
        cursor: pointer;
        .bag {
            width: 1.5em;
            height: 1.5em;
        }
        .app-badge {
            position: absolute;
            left: 4px;
            background: transparent;
            bottom: 4px;
            font-weight: 300;
            color: white;
            &.move-right {
                left: 0;
            }
        }
        &.ml-auto {
            .bag {
                width: 2em;
                height: 2em;
            }
            .app-badge {
                left: 10px;
                bottom: 9px;
                font-weight: 600;
                &.move-right {
                    left: 5px;
                }
            }
        }
    }
    section {
        h1, p {
            text-align: left;
            font-size: 20px;
        }
        h1 {
            font-size: 2rem;
            max-width: 160px;
        }
        .btn {
            border-radius: 0;
            @media (min-width: 768px){
                padding: .5rem 1rem;
                font-size: 1.25rem;
            }
        }
    }
}